.countdown {
	position: relative;
	width: 30vw;
	height: 50vh;
	margin: auto;
	margin-top: 100vh;
}

.time > span {
	position: absolute;
	left: 17%;
	top: 57%;
	color: white;
	background-color: #1c1c1c;
	border-radius: 45%;
	border: 1px solid white;
	padding: 0.8rem 1.4rem;
	font-size: 1.7rem;
	font-family: Piedra, 'cursive';
	box-shadow: inset 0 0 80px rgb(255, 255, 0), 0 0 30px darkgoldenrod,
		0 0 6px darkgoldenrod;
}

.nucelar {
	border-radius: 25%;
	width: 25rem;
	height: 25rem;
	box-shadow: 0 0 80px red, 0 0 30px darkgoldenrod, 0 0 6px darkgoldenrod;
}
