.glitch {
	/* color: cyan; */
	text-shadow: 0 0 80px white, 0 0 30px yellow, 0 0 6px yellow;
	/* font-family: 'Emblema One', cursive; */
	/* font-family: 'Press Start 2P', cursive; */
	font-family: 'Orbitron', cursive;
	letter-spacing: 0.05em;
	font-size: 3em;
	font-weight: bold;
	height: 40vh;
}

.glitch > div {
	/*Create overlap*/
	margin: 0;
	line-height: 0;
	/*Animation*/
	animation: glitch1 40s infinite;
}

.glitch > div:nth-child(2) {
	color: #67f3da;
	animation: glitch2 40s infinite;
}

.glitch > div:nth-child(3) {
	color: #f16f6f;
	animation: glitch3 40s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
	0% {
		transform: none;
		opacity: 1;
	}
	2.1% {
		transform: skew(-0.5deg, -0.9deg);
		opacity: 0.75;
	}
	3% {
		transform: none;
		opacity: 1;
	}
	8.1% {
		transform: none;
		opacity: 1;
	}
	9% {
		transform: skew(0.8deg, -0.1deg);
		opacity: 0.75;
	}
	10.5% {
		transform: none;
		opacity: 1;
	}
	15.6% {
		transform: none;
		opacity: 1;
	}
	16.5% {
		transform: skew(-1deg, 0.2deg);
		opacity: 0.75;
	}
	15% {
		transform: none;
		opacity: 1;
	}
	21.6% {
		transform: none;
		opacity: 1;
	}
	22.5% {
		transform: skew(0.4deg, 1deg);
		opacity: 0.75;
	}
	24% {
		transform: none;
		opacity: 1;
	}
	30% {
		transform: none;
		opacity: 1;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}

@keyframes glitch2 {
	0% {
		transform: none;
		opacity: 0.25;
	}
	7% {
		transform: translate(-2px, -3px);
		opacity: 0.5;
	}
	3% {
		transform: none;
		opacity: 0.25;
	}
	8.1% {
		transform: none;
		opacity: 0.25;
	}
	9% {
		transform: translate(-5px, -2px);
		opacity: 0.5;
	}
	10.5% {
		transform: none;
		opacity: 0.25;
	}
	15.6% {
		transform: none;
		opacity: 0.25;
	}
	16.5% {
		transform: translate(-5px, -1px);
		opacity: 0.5;
	}
	15% {
		transform: none;
		opacity: 0.25;
	}
	21.6% {
		transform: none;
		opacity: 0.25;
	}
	22.5% {
		transform: translate(-2px, -6px);
		opacity: 0.5;
	}
	24% {
		transform: none;
		opacity: 0.25;
	}
	30% {
		transform: none;
		opacity: 0.25;
	}
	100% {
		transform: none;
		opacity: 0;
	}
}

@keyframes glitch3 {
	0% {
		transform: none;
		opacity: 0.25;
	}
	7% {
		transform: translate(2px, 3px);
		opacity: 0.5;
	}
	3% {
		transform: none;
		opacity: 0.25;
	}
	8.1% {
		transform: none;
		opacity: 0.25;
	}
	9% {
		transform: translate(5px, 2px);
		opacity: 0.5;
	}
	10.5% {
		transform: none;
		opacity: 0.25;
	}
	15.6% {
		transform: none;
		opacity: 0.25;
	}
	16.5% {
		transform: translate(5px, 1px);
		opacity: 0.5;
	}
	15% {
		transform: none;
		opacity: 0.25;
	}
	21.6% {
		transform: none;
		opacity: 0.25;
	}
	22.5% {
		transform: translate(2px, 6px);
		opacity: 0.5;
	}
	24% {
		transform: none;
		opacity: 0.25;
	}
	30% {
		transform: none;
		opacity: 0.25;
	}
	100% {
		transform: none;
		opacity: 0;
	}
}
