.glitch {
	display: inline-block;
	justify-content: center;
	align-items: center;
	margin: 30vw auto;
	margin-top: 8rem;
	margin-left: 10vw;
	width: 80vw;
	background: radial-gradient(ellipse at center, darkgoldenrod 0%, #1c1c1c 70%);
	/* color: cyan; */
	text-shadow: 0 0 80px white, 0 0 30px yellow, 0 0 6px yellow;
	/* font-family: 'Emblema One', cursive; */
	/* font-family: 'Press Start 2P', cursive; */
	font-family: 'Orbitron', cursive;
	letter-spacing: 0.05em;
	letter-spacing: 0.05em;
	font-size: 4em;
	font-weight: bold;
	position: relative;
}

.glitch > div {
	text-align: center;
	color: #fff;
	/*Create overlap*/
	margin: 0;
	line-height: 0;
	/*Animation*/
	animation: glitch1 2.5s infinite;
}

.glitch > div:hover {
	text-align: center;
	color: black;
	position: relative;
	/*Create overlap*/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}

.glitch > div:nth-child(2) {
	color: #67f3da;
	animation: glitch2 2.5s infinite;
}

.glitch > div:nth-child(3) {
	color: #f16f6f;
	animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
	0% {
		transform: none;
		opacity: 1;
	}
	7% {
		transform: skew(-0.5deg, -0.9deg);
		opacity: 0.75;
	}
	10% {
		transform: none;
		opacity: 1;
	}
	27% {
		transform: none;
		opacity: 1;
	}
	30% {
		transform: skew(0.8deg, -0.1deg);
		opacity: 0.75;
	}
	35% {
		transform: none;
		opacity: 1;
	}
	52% {
		transform: none;
		opacity: 1;
	}
	55% {
		transform: skew(-1deg, 0.2deg);
		opacity: 0.75;
	}
	50% {
		transform: none;
		opacity: 1;
	}
	72% {
		transform: none;
		opacity: 1;
	}
	75% {
		transform: skew(0.4deg, 1deg);
		opacity: 0.75;
	}
	80% {
		transform: none;
		opacity: 1;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}

@keyframes glitch2 {
	0% {
		transform: none;
		opacity: 0.25;
	}
	7% {
		transform: translate(-2px, -3px);
		opacity: 0.5;
	}
	10% {
		transform: none;
		opacity: 0.25;
	}
	27% {
		transform: none;
		opacity: 0.25;
	}
	30% {
		transform: translate(-5px, -2px);
		opacity: 0.5;
	}
	35% {
		transform: none;
		opacity: 0.25;
	}
	52% {
		transform: none;
		opacity: 0.25;
	}
	55% {
		transform: translate(-5px, -1px);
		opacity: 0.5;
	}
	50% {
		transform: none;
		opacity: 0.25;
	}
	72% {
		transform: none;
		opacity: 0.25;
	}
	75% {
		transform: translate(-2px, -6px);
		opacity: 0.5;
	}
	80% {
		transform: none;
		opacity: 0.25;
	}
	100% {
		transform: none;
		opacity: 0.25;
	}
}

@keyframes glitch3 {
	0% {
		transform: none;
		opacity: 0.25;
	}
	7% {
		transform: translate(2px, 3px);
		opacity: 0.5;
	}
	10% {
		transform: none;
		opacity: 0.25;
	}
	27% {
		transform: none;
		opacity: 0.25;
	}
	30% {
		transform: translate(5px, 2px);
		opacity: 0.5;
	}
	35% {
		transform: none;
		opacity: 0.25;
	}
	52% {
		transform: none;
		opacity: 0.25;
	}
	55% {
		transform: translate(5px, 1px);
		opacity: 0.5;
	}
	50% {
		transform: none;
		opacity: 0.25;
	}
	72% {
		transform: none;
		opacity: 0.25;
	}
	75% {
		transform: translate(2px, 6px);
		opacity: 0.5;
	}
	80% {
		transform: none;
		opacity: 0.25;
	}
	100% {
		transform: none;
		opacity: 0.25;
	}
}
