.logo-wrapper {
	width: 150px;
	height: 100px;
	position: absolute;
	top: 0;
	margin-top: 12rem;
	margin-left: 10rem;
	transform: scale(2) translate(-50%, -50%);
}
.logo {
	width: 2rem;
	background-size: cover;
	border-radius: 50%;
	padding: 0;
	box-shadow: 0 0 80px cyan, 0 0 30px darkcyan, 0 0 6px darkcyan;
}

.logo:hover {
	cursor: pointer;
	animation: colorShifter 20s infinite;
}

@keyframes colorShifter {
	0% {
		box-shadow: 0 0 80px cyan, 0 0 30px darkcyan, 0 0 6px darkcyan;
		transform: scale(0.9);
	}
	33% {
		box-shadow: 0 0 80px red, 0 0 30px darkred, 0 0 6px darkred;
		transform: scale(1.3);
	}
	66% {
		box-shadow: 0 0 80px yellow, 0 0 30px yellow, 0 0 6px darkgoldenrod;
		transform: scale(0.9);
	}
	99% {
		box-shadow: 0 0 80px cyan, 0 0 30px darkcyan, 0 0 6px darkcyan;
		transform: scale(1.3);
	}
}

.logo-fountain > span {
	display: block;
	margin: 5.1rem;
	margin-left: 4.7rem;
	position: absolute;
	border-left: 1px dashed lightgreen;
	transform-origin: 50% 100%;
	transform: translate(var(--tranlation));
	--tranlation: -50%;
	bottom: 4px;
	z-index: -1;
	width: 24px;
	border-radius: 50%;
}
.logo-fountain > span,
.logo-fountain > span::before {
	animation: pouceAnimation 3s ease-in-out infinite alternate forwards;
}

.logo-fountain > span:before {
	content: ':';
	position: absolute;
	width: 100%;
	height: 100%;
	color: #01dbd0;
	z-index: 222;
	display: block;
	right: -6px;
	opacity: 0;
}
.logo-fountain > span:nth-child(1) {
	transform: translate(var(--translation, -50%)) rotate(var(--rotation, 360deg))
		scale(var(--scaling, 1));
}
.logo-fountain > span:nth-child(2) {
	transform: translate(var(--translation, -50%)) rotate(var(--rotation, 324deg))
		scale(var(--scaling, 1));
}
.logo-fountain > span:nth-child(3) {
	transform: translate(var(--translation, -50%)) rotate(var(--rotation, 288deg))
		scale(var(--scaling, 1));
}
.logo-fountain > span:nth-child(4) {
	transform: translate(var(--translation, -50%)) rotate(var(--rotation, 252deg))
		scale(var(--scaling, 1));
}
.logo-fountain > span:nth-child(5) {
	transform: translate(var(--translation, -50%)) rotate(var(--rotation, 230deg))
		scale(var(--scaling, 1));
}
.logo-fountain > span:nth-child(6) {
	transform: translate(var(--translation, -50%)) rotate(var(--rotation, 180deg))
		scale(var(--scaling, 1));
}
.logo-fountain > span:nth-child(7) {
	transform: translate(var(--translation, -50%)) rotate(var(--rotation, 144deg))
		scale(var(--scaling, 1));
}
.logo-fountain > span:nth-child(8) {
	transform: translate(var(--translation, -50%)) rotate(var(--rotation, 108deg))
		scale(var(--scaling, 1));
}
.logo-fountain > span:nth-child(9) {
	transform: translate(var(--translation, -50%)) rotate(var(--rotation, 72deg))
		scale(var(--scaling, 1));
}
.logo-fountain > span:nth-child(10) {
	transform: translate(var(--translation, -50%)) rotate(var(--rotation, 36deg))
		scale(var(--scaling, 1));
}
.logo-fountain > span:nth-child(11) {
	transform: translate(var(--translation, -50%)) rotate(var(--rotation, 0deg))
		scale(var(--scaling, 1));
}

@keyframes pouceAnimation {
	0% {
		height: 0%;
		opacity: 0;
	}
	100% {
		height: 43%;
		opacity: 1;
	}
}
@keyframes startAnimation {
	0% {
		opacity: 0;
	}
	25%,
	100% {
		opacity: 1;
	}
}
